# .env.example

PORT=
MONGO_URL=
NODE_ENV=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

FRONTEND_DOMAIN=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
